html
{
    font-family: MuseoSans500, 'Lucida Grande', Lucida, Verdana, sans-serif;
    font-size: 15px;
    background: #d9d9d9; /* Old browsers */
    background: -moz-linear-gradient(left, #d9d9d9 0%, #84aace 50%, #d9d9d9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d9d9d9), color-stop(50%,#84aace), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #d9d9d9 0%,#84aace 50%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #d9d9d9 0%,#84aace 50%,#d9d9d9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #d9d9d9 0%,#84aace 50%,#d9d9d9 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#d9d9d9',GradientType=1 ); /* IE6-9 */
    background: linear-gradient(left, #d9d9d9 0%,#84aace 50%,#d9d9d9 100%); /* W3C */
}

h1
{
    font-size: 40px;
}

#header
{
    margin: 0px;
    padding: 0px;
}

#container {
    border-right: 50px solid #FFF;
    border-left: 50px solid #FFF;
    width: 900px;
    margin: 0px auto -4em;
    background-color: #FFF;
}

#main-body
{
    padding: 10px 0px;   
}

#main-nav ul
{
    clear: both;
    width: 900px;
    height: 35px;
    padding: 0px;
    margin: 10px 0px;
}

#main-nav ul li
{
    display: block;
    float: left;
    list-style-type: none;
    text-align: center;
}

#main-nav ul li a
{
    text-decoration: none;
    color: #FFF;
    display: block;
    float: left;
    width: 140px;
    line-height: 35px;
    margin: 0px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #3D7BC4;
}

#main-nav ul li a:hover
{
    background-color: #0F3056;
}