html
{
    font-family: MuseoSans500, 'Lucida Grande', Lucida, Verdana, sans-serif;
    font-size: 15px;
    background-color: #d9d9d9;
    padding: 0px;
    margin: 0px;
}

body 
{
    margin: 0px;
}

h1
{
    font-size: 40px;
    line-height: 40px;
}

#header
{
    margin: 0px;
    padding: 0px;
}

#container {
    border-right: 50px solid #FFF;
    border-left: 50px solid #FFF;
    width: 900px;
    margin: 0px auto;
    background-color: #FFF;
    padding-top: 1px;
    height: 100%;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#main-body
{
    padding: 10px 0px;   
}

#main-body img
{
    float: left;
    border: 10px solid #E6E6E6;
    display: inline;
    margin: 0px 50px 25px 0px;
}

#main-nav ul
{
    clear: both;
    width: 900px;
    height: 35px;
    padding: 0px;
    margin: 10px 0px;
}

#main-nav ul li
{
    display: block;
    float: left;
    list-style-type: none;
    text-align: center;
}

#main-nav ul li a
{
    text-decoration: none;
    color: #FFF;
    display: block;
    float: left;
    width: 140px;
    line-height: 35px;
    margin: 0px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #3D7BC4;
}

#main-nav ul li a:hover
{
    background-color: #0F3056;
}

#footer
{
    clear: both;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #E6E6E6;
    margin: 0px 0px 25px 0px;
    text-align: center;
    color: #808080;
    text-shadow: 0px 1px 1px #fff;
}